- var src_folder = "nagatino-i-land"

section.portfolio-gallery
    .portfolio-gallery__container.container

        .portfolio-gallery__list

            article.portfolio-gallery__article.nagatino
                picture
                    source(srcset=`./assets/img/portfolio-inner/${src_folder}/mobile/01.jpg` media="(max-width: 767px)")
                    img(src=`./assets/img/portfolio-inner/${src_folder}/desktop/01.jpg` alt="Фото интерьера ЖК Nagatino i-Land")
                picture
                    source(srcset=`./assets/img/portfolio-inner/${src_folder}/mobile/02.jpg` media="(max-width: 767px)")
                    img(src=`./assets/img/portfolio-inner/${src_folder}/desktop/02.jpg` alt="Фото интерьера ЖК Nagatino i-Land")

            article.portfolio-gallery__article.nagatino
                picture
                    source(srcset=`./assets/img/portfolio-inner/${src_folder}/mobile/03.jpg` media="(max-width: 767px)")
                    img(src=`./assets/img/portfolio-inner/${src_folder}/desktop/03.jpg` alt="Фото интерьера ЖК Nagatino i-Land")
                picture
                    source(srcset=`./assets/img/portfolio-inner/${src_folder}/mobile/04.jpg` media="(max-width: 767px)")
                    img(src=`./assets/img/portfolio-inner/${src_folder}/desktop/04.jpg` alt="Фото интерьера ЖК Nagatino i-Land")
                picture
                    source(srcset=`./assets/img/portfolio-inner/${src_folder}/mobile/05.jpg` media="(max-width: 767px)")
                    img(src=`./assets/img/portfolio-inner/${src_folder}/desktop/05.jpg` alt="Фото интерьера ЖК Nagatino i-Land")

            article.portfolio-gallery__article.nagatino
                picture
                    source(srcset=`./assets/img/portfolio-inner/${src_folder}/mobile/06.jpg` media="(max-width: 767px)")
                    img(src=`./assets/img/portfolio-inner/${src_folder}/desktop/06.jpg` alt="Фото интерьера ЖК Nagatino i-Land")
                picture
                    source(srcset=`./assets/img/portfolio-inner/${src_folder}/mobile/07.jpg` media="(max-width: 767px)")
                    img(src=`./assets/img/portfolio-inner/${src_folder}/desktop/07.jpg` alt="Фото интерьера ЖК Nagatino i-Land")

            article.portfolio-gallery__article.nagatino
                picture
                    source(srcset=`./assets/img/portfolio-inner/${src_folder}/mobile/08.jpg` media="(max-width: 767px)")
                    img(src=`./assets/img/portfolio-inner/${src_folder}/desktop/08.jpg` alt="Фото интерьера ЖК Nagatino i-Land")
                picture
                    source(srcset=`./assets/img/portfolio-inner/${src_folder}/mobile/09.jpg` media="(max-width: 767px)")
                    img(src=`./assets/img/portfolio-inner/${src_folder}/desktop/09.jpg` alt="Фото интерьера ЖК Nagatino i-Land")