mixin button(title, type, addedClass_1 = "", addedClass_2 = "")
    button.button(class = `button--${type} ${addedClass_1} ${addedClass_2}`)
        i.button__hover
        span.button__text= title


mixin button-link(link, title, type, addedClass_1 = "", addedClass_2 = "")
    a.button(href=link class = `button--${type} ${addedClass_1} ${addedClass_2}`)
        i.button__hover
        span.button__text= title


mixin form(title, textBtn)
    form.form
        h3.form__title= title
        .form__body
            input.form__input(placeholder='Введите имя', name="name" maxlength="20" autocomplete='off' required )
            input.form__input(type="tel" name="tel" placeholder='Введите номер' autocomplete='off' required)

            .form__connection
                h3.form__connection-title Удобный способ связи
                fieldset.form__connection-fieldset
                    label.form__label
                        input#telegram(type='radio', name='connection', value='Telegram')
                        | Telegram

                    label.form__label
                        input#whatsapp(type='radio', name='connection', value='WhatsApp')
                        | WhatsApp

                    label.form__label
                        input#phone(type='radio', name='connection', value='Phone' checked)
                        | Звонок

            +button(textBtn, "fill-dark", "form__submit")

        p.form__agreement Нажимая на кнопку, вы даете согласие на обработку&ensp;
            a(href="##" download) персональных&nbsp;данных

        .form__message.form__message--success
            p Спасибо! <br> Свяжемся с вами в течении 30 минут
        .form__message.form__message--error
            p Ошибка <br>
                button(type="button") Попробуйте еще раз
